@import "./assets/styles/base.scss";

#app {
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}


/* iPads and above*/

@media only screen and (min-device-width: 768px) {}
